<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/instituto?createDatabaseIfNotExist=true&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;connectionCollation=utf8_general_ci</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.connection.password"></property>
    <mapping class="jeanderson.model.Curso"/>
    <mapping class="jeanderson.model.Funcionario"/>
    <mapping class="jeanderson.model.Aluno"/>
    <mapping class="jeanderson.model.Contato"/>
    <mapping class="jeanderson.model.Usuario"/>
    <mapping class="jeanderson.model.Lembrete"/>
    <mapping class="jeanderson.model.Turma"/>
    <mapping class="jeanderson.model.Mensalidade"/>
    <mapping class="jeanderson.model.Frequencia"/>
    <mapping class="jeanderson.model.Historico"/>
    <mapping class="jeanderson.model.Caixa"/>
  </session-factory>
</hibernate-configuration>
ass="jeanderson.model.Caixa"/>
    </session-factory>
</hibernate-configuration>
